/* fonts */
/* SST Arabic */
@font-face {
  font-family: "SST Arabic";
  src: url("/fonts/SST-Arabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SST Arabic";
  src: url("/fonts/SST-Arabic-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SST Arabic";
  src: url("/fonts/SST-Arabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SST Arabic";
  src: url("/fonts/SST-Arabic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

.font-sst-arabic {
  font-family: "SST Arabic";
}
